* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 2rem;
  background-color: aliceblue;
}

input, button {
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  width: 12rem;
  font-size: 16px;
}

input {
  border: 2px solid rgba(47, 79, 79, 1)
}

button {
  background-color: rgba(47, 79, 79, 1);
  color: whitesmoke;
  transition: ease 0.2s all;
  cursor: pointer;
}

button:hover:enabled {
  background-color: rgba(37, 69, 69, 1);
  transform: translateY(-2px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

button:focus:enabled {
  outline: rgba(47, 79, 79, 1);
}

button:disabled {
  opacity: 0.85;
  cursor: auto;
}

#pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.pokemon {
  width: 7.5rem;
  border: 3px solid rgba(0, 0, 0, 0.025);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.type-normal { background-color: #ede3e3; }
.type-fighting { background-color: #d98787; }
.type-flying { background-color: #a5e3ef; }
.type-poison { background-color: #bf72de; }
.type-ground { background-color: #aa8a72; }
.type-rock { background-color: #959595; }
.type-bug { background-color: #b2d4a5; }
.type-ghost { background-color: #c499cf; }
.type-steel { background-color: #dbdbdb; }
.type-fire { background-color: #e45757; }
.type-water { background-color: #7e97e8; }
.type-grass { background-color: #5cdc69; }
.type-electric { background-color: #e5f13a; }
.type-psychic { background-color: #ded971; }
.type-ice { background-color: #4be9f4; }
.type-dragon { background-color: #a077e0; }
.type-dark { background-color: #828282; }
.type-fairy { background-color: #efbae3; }
.type-unknown { background-color: #000000; color: #fff; }
.type-shadow { background-color: #454343; color: #fff; }

.capitalize { text-transform: capitalize; }
